{% extends 'layout_admin.html.twig' %}

{% block main %}

    <div class="card-body">
        <h5 class="card-title">Liste des inscriptions Désactivées </h5>
    </div>
    
    <div class="card">
      <div class="card-body">
       
        
        <div class="table-responsive col-md-12">
          <table id="zero_config" class="table table-striped table-bordered">
            <thead>
              <tr>
              <th>ID </th>
                <th>ID Dossier</th>
                <th>CIN</th>
                <th>Date CIN</th>
                <th>Nom</th>
                <th>Prénom </th>
                <th>Date Naissance</th>
                <th>Email</th>
                <th>Grade</th>
                <th>Specialité</th>
                <th>Motif Désactivation</th>
                <th>Date Désactivation</th>

                {# <th>Actions</th> #}
              </tr>
            </thead>
            <tbody>
            
            {% for inscription in list %}
              <tr>
              <td>{{inscription.id}}</td>
                <td>{{inscription.idDossier}}</td>
                <td>{{inscription.cin}}</td>
                <td>{{inscription.dateCin|date("d/m/Y")}}</td>
                <td>{{inscription.nom}}</td>
                <td>{{inscription.prenom}}</td>
                <td>{{inscription.dateNaissance|date("d/m/Y")}}</td>
                <td>{{inscription.mail}}</td>
                <td>{{inscription.specialite.grade.libelle}}</td>
                <td>{{inscription.specialite.libelle}}</td>

                <td>{{inscription.motifDesactivation}}</td>
                <td>{{inscription.dateDesactivation|date("d/m/Y H:i:s")}}</td>
                {# <td>
                  <a  class="btn btn-danger" href="{{path('inscription_disable',{tokenConcours:inscription.specialite.grade.concours.token,token:inscription.token})}}"><i class="me-2 mdi mdi-close-outline" aria-hidden="true"></i>Désactiver<a>
                </td> #}
              </tr>
            {% endfor %}
 
              
            </tbody>
          
          </table>
        </div>
      </div>
    </div>

{% endblock %}