<!DOCTYPE html>
<html dir="rtl" lang="ar">
  <head>
    <meta charset="utf-8" />
    {# <meta http-equiv="X-UA-Compatible" content="IE=edge" /> #}
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="keywords"
      content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 5 admin, bootstrap 5, css3 dashboard, bootstrap 5 dashboard, Matrix lite admin bootstrap 5 dashboard, frontend, responsive bootstrap 5 admin template, Matrix admin lite design, Matrix admin lite dashboard bootstrap 5 dashboard template"
    />
    <meta
      name="description"
      content="Matrix Admin Lite Free Version is powerful and clean admin dashboard template, inpired from Bootstrap Framework"
    />
    <meta name="robots" content="noindex,nofollow" />
    <title>Concours - OFFICE DES TERRES DOMANIALES</title>
    {% block stylesheets %}
    <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="{{  asset('theme/assets/images/favicon.png')}}" />
    <link   href="{{ asset('theme/dist/css/style.min.css')}}"  rel="stylesheet" />
    <link   href="{{ asset('theme/dist/css/style_admin.css')}}"  rel="stylesheet" />
    <link   href="{{ asset('theme/dist/css/style_custom.css')}}"  rel="stylesheet" />
    <style>.container-fluid{min-height: calc(100vh - 65px) !important;}</style>
    {% endblock %}
    
    
  </head>
      
  <body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
      <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div
      id="main-wrapper"
      data-layout="vertical"
      data-navbarbg="skin5"
      data-sidebartype="fullold"
      data-sidebar-position="absolute"
      data-header-position="absolute"
      data-boxed-layout="full" 
    >
      <!-- ============================================================== --> 
      <!-- Topbar header - style you can find in pages.scss -->
      <!-- ============================================================== -->
      <header class="topbar hiide" style="" data-navbarbg="skin5">
        <nav class="navbar top-navbar navbar-expand-md navbar-dark">
          <div class="navbar-header" data-logobg="skin5">
            <!-- ============================================================== -->
            <!-- Logo -->
            <!-- ============================================================== -->
            <a class="navbar-brand" href="#">
             
              <!-- Logo text -->
              <span class="logo-text ms-2">
                <!-- dark Logo text -->
                <img
                  src=" {{asset('theme/assets/images/ministerefinance-ar.png')}}"
                  alt="homepage"
                  class="light-logo"
                />
              </span>
              <!-- Logo icon -->
            

              <!-- </b> -->
              <!--End Logo icon -->
            </a>
            <!-- ============================================================== -->
            <!-- End Logo -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Toggle which is visible on mobile only -->
            <!-- ============================================================== -->
            {# <a
              class="nav-toggler waves-effect waves-light d-block d-md-none"
              href="javascript:void(0)"
              ><i class="ti-menu ti-close"></i
            ></a> #}
          </div>
          <!-- ============================================================== -->
          <!-- End Logo -->
          <!-- ============================================================== -->
          <div
          class="navbar-collapse collapse"
          id="navbarSupportedContent"
          data-navbarbg="skin5"
        >
        {% set route = app.request.attributes.get('_route') %}
          {% set pathinfo = app.request.pathinfo %}
        

          <a {% if route in ['app_home'] %}style="display:none;"{% endif %} href="{{path('app_home')}}"> <i class="fa fa-home" aria-hidden="true"></i>الصّفحة الرّئيسيّة</a>
          <a class="reclamation" href="{{path('reclamation_new')}}" {% if route in ['reclamation_new'] %}style="text-decoration: underline; font-weight: 700;color: #0c1221;"{% endif %} > <i class="fa fa-envelope" aria-hidden="true"></i> إرسال إشعارات</a>

        </div> 
          <div class="new-logo">
        <img src="/theme/assets/images/logo-otd.png" alt="New Logo" style="max-height:77px;
            style=" width:="" 39px;"="">
    </div>
        </nav>
      </header>
 
      <div class="page-wrapper" style="margin-left:0;">
      
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div id="c-fluid" class="container-fluid" style="    padding: 0px;">
          <!-- ============================================================== -->
          <!-- Start Page Content -->
          <!-- ============================================================== -->
            
                {% block main %}
               
                {% endblock %}
                    
             
    
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer text-center">
          {#<a  class="desk" href="http://www.cimf.tn/" target="_blank">  <span class="img" style="background: url(theme/assets/images/logo.png) no-repeat 43px;">2023</span>Centre Informatique du Ministère des Finances

          </a> 
            <span   class="desk">-© </span> #}

            <div class="desk" style="margin: auto;display: flex;flex-direction: row-reverse;justify-content: center;align-items: center;align-content: center;">
              <div class="" style="">2024-©</div>
                <div class=""> 
                    <a href="http://www.otd.nat.tn/fr/27-otd" target="_blank" style="padding-right: 16px;"> 
                      <img style="float:left;margin-top: -6px;padding-right: 24px;padding-left: 21px;width: 253px;" src="{{asset('theme/assets/images/logo-otd-re.png')}}">ديوان الأراضي الدولية
                    </a> 
                    </a>
                </div>
            </div>
            
        {#  <div class="mobile">
              <div class="col-md-2">2024-©</div>
                <div class="col-md-10"> 
                    <a href="http://www.otd.nat.tn/fr/27-otd" target="_blank"> 
                      <img style="float:left;margin-top: -6px;width: 253px;" src="{{asset('theme/assets/images/logo-otd-re.png')}}">© ديوان الأراضي الدولية
                    </a> 
                </div>
            </div>#}

        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
      </div>
      <!-- ============================================================== -->
      <!-- End Page wrapper  -->
      <!-- ============================================================== -->
    </div>
    <div id="printD"></div>
    <div class="btns-print">
      <div class="card-body">
          <div class="col-md-12 ">
              <p type="button" class="btn btn-outline-secondary" onclick="window.print()" id="printButton" > 
                <i class="me-2 mdi mdi-printer"></i>  <span>
                    طباعة 
                </span>   
              </p>  
              <p type="button" class="btn btn-outline-secondary"id="dow" > 
                  <i class="me-2 mdi mdi-download"></i>  <span>
                      تحميل 
                  </span>   
              </p>
          </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    {% block javascripts %}
    <!-- All Jquery -->
 <!-- ============================================================== -->
   <script src="{{  asset('theme/assets/libs/jquery/dist/jquery.min.js')}}"></script>
 <!-- Bootstrap tether Core JavaScript -->
   <script src="{{  asset('theme/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js')}}"></script>
 <!-- slimscrollbar scrollbar JavaScript -->
   <script src="{{  asset('theme/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js')}}"></script>
   {# <script src="{{  asset('theme/assets/extra-libs/sparkline/sparkline.js')}}"></script> #}
 <!--Wave Effects -->
   <script src="{{  asset('theme/dist/js/waves.js')}}"></script>
 <!--Menu sidebar -->
   <script src="{{  asset('theme/dist/js/sidebarmenu.js')}}"></script>
 <!--Custom JavaScript -->
   <script src="{{  asset('theme/dist/js/custom.min.js')}}"></script>

 <script>
  
 </script>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
 <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
 <!--[if lt IE 9]>
 <script src="{{ asset('https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')}}"></script>
 <script src="{{ asset('https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')}}"></script>
 <![endif]-->

{% endblock %}
  </body>
</html>
