<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="description" content="concours " />
    <meta name="robots" content="noindex,nofollow" />
    <title>Administration Concours - Ministère des Finances | Administration</title>
    {% block stylesheets %}
      <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('theme/assets/images/favicon.png') }}" />
      <!-- Custom CSS -->
      <link rel="stylesheet" type="text/css" href="{{ asset('theme/assets/libs/select2/dist/css/select2.min.css') }}" />
      <link rel="stylesheet" type="text/css" href="{{ asset('theme/assets/libs/jquery-minicolors/jquery.minicolors.css') }}" />
      <link rel="stylesheet" type="text/css" href="{{ asset('theme/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css') }}" />
      <link rel="stylesheet" type="text/css" href="{{ asset('theme/assets/libs/quill/dist/quill.snow.css') }}" />
      <link href="{{ asset('theme/dist/css/style.min.css') }}" rel="stylesheet" />

      <link href="{{ asset('theme/dist/css/style_admin.css') }}" rel="stylesheet" />
      <style>
        .dt-buttons,.dt-button buttons-print {
          display: none !important;
        }
        div.dt-buttons {
 
            margin-bottom: 12px;
        }
        button.dt-button, div.dt-button, a.dt-button {font-size: 1em!important;
        }
        .table th,
        .table thead th {
          font-weight: 600;
        }
        .card-title {
          color: #da542e !important;
          font-weight: 700;
          font-size: 21px;
          margin-bottom: 16px;
        }
        .table td,
        .table thead th {
          font-size: 15px !important;
        }
        table.dataTable.no-footer {
          border: 1px solid rgb(0 0 0 / 6%);
        }
       #zero_config_filter [type=search] ,#zero_config_11_filter {width: 37%;
       float: right;margin-left: 2%;
       text-align: right;
            margin-left: 2%;
        }
        #zero_config_11_filter label {
        width: 50%;
          margin-left: 2%;
         
         
        }
        table.dataTable.no-footer {
            
            margin-bottom: 36px;
        }

        

/* Pagination */

div.dataTables_wrapper div.dataTables_paginate {
  margin: 0;
  white-space: nowrap;
  text-align: right;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 2px;
    margin-left: 2px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    
    color: #333333;
    border: 1px solid transparent;
    border-radius: 0px; }

.pagination>li>a, .pagination>li>span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #333;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #bbb;
}

.pagination>.active>a, .pagination>.active>a:focus,
 .pagination>.active>a:hover, .pagination>.active>span, 
 .pagination>.active>span:focus, .pagination>.active>span:hover {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #348fe2;
  border: 1px solid #348fe2;
  box-shadow: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current{
  background-color: #253866;
color: #fff;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{    padding: 5px 9px;}
.pagination>li:first-child>a, .pagination>li:first-child>span {
  margin-left: 0;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

      </style>
    {% endblock %}
    <!-- Favicon icon -->
  </head>
  <body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
      <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full" data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
      {{ include('navbar-admin.html.twig') }}
      {{ include('menu-admin.html.twig') }}
      <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        {# <div class="page-breadcrumb">
												          <div class="row">
												            <div class="col-12 d-flex no-block align-items-center">
												              <h4 class="page-title">Form Basic</h4>
												              <div class="ms-auto text-end">
												                <nav aria-label="breadcrumb">
												                  <ol class="breadcrumb">
												                    <li class="breadcrumb-item"><a href="#">Home</a></li>
												                    <li class="breadcrumb-item active" aria-current="page">
												                      Library
												                    </li>
												                  </ol>
												                </nav>
												              </div>
												            </div>
												          </div>
												        </div> #}

        <div class="container-fluid" style="  min-height: calc(100vh - 65px) !important;">
          <div class="row">
            {{ include('_flash_messages.html.twig') }}
            {% block main %}
            {% endblock %}
          </div>
        </div>

      {# <footer class="footer text-center">
          <a href="https://www.cimf.tn" target="_blank"><span class="">© - 2024</span><br> Ministère  Agriculture</a>
          <span></span>
        </footer> 
      </div>
      <!-- ============================================================== -->
      <!-- End Page wrapper -->
      <!-- ============================================================== -->
    </div>#}
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    {% block javascripts %}
      <!-- All Jquery -->
      <!-- ============================================================== -->
      <script src="{{ asset('theme/assets/libs/jquery/dist/jquery.min.js') }}"></script>
      <!-- Bootstrap tether Core JavaScript -->
      <script src="{{ asset('theme/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
      <!-- slimscrollbar scrollbar JavaScript -->
      <script src="{{ asset('theme/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js') }}"></script>
      <script src="{{ asset('theme/assets/extra-libs/sparkline/sparkline.js') }}"></script>
      <!-- Wave Effects -->
      <script src="{{ asset('theme/dist/js/waves.js') }}"></script>
      <!-- Menu sidebar -->
      <script src="{{ asset('theme/dist/js/sidebarmenu.js') }}"></script>
      <!-- Custom JavaScript -->
      <script src="{{ asset('theme/dist/js/custom.min.js') }}"></script>
      <!-- This Page JS -->
      <script src="{{ asset('theme/assets/libs/inputmask/dist/min/jquery.inputmask.bundle.min.js') }}"></script>
      <script src="{{ asset('theme/dist/js/pages/mask/mask.init.js') }}"></script>
      <script src="{{ asset('theme/assets/libs/select2/dist/js/select2.full.min.js') }}"></script>
      <script src="{{ asset('theme/assets/libs/select2/dist/js/select2.min.js') }}"></script>
      <script src="{{ asset('theme/assets/libs/jquery-asGradient/dist/jquery-asGradient.js') }}"></script>
      <script src="{{ asset('theme/assets/libs/jquery-asColorPicker/dist/jquery-asColorPicker.min.js') }}"></script>
      <script src="{{ asset('theme/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
      <script src="{{ asset('theme/assets/libs/jquery-steps/build/jquery.steps.min.js') }}"></script>
      <script src="{{ asset('theme/assets/libs/jquery-validation/dist/jquery.validate.min.js') }}"></script>

      <script src="{{ asset('theme/assets/extra-libs/DataTables/datatables.min.js') }}"></script>
      <script>
        // ***********************************//
        // For select 2
        // ***********************************//
        $('.select2').select2()
        
        
        /*datepicker*/
        jQuery('.mydatepicker').datepicker()
        jQuery('#datepicker-autoclose').datepicker({ autoclose: true, todayHighlight: true })
        jQuery('.datepicker-autoclose').datepicker({ autoclose: true, todayHighlight: true })
      </script>
      <script src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>

      <script src="{{ asset('theme/assets/extra-libs/DataTables/datatables.min.js') }}"></script>
      <link href="https://nightly.datatables.net/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
      <script src="https://nightly.datatables.net/js/jquery.dataTables.js"></script>
      <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.js"></script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>

      <link href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.css" rel="stylesheet" type="text/css" />
      <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.js"></script>
      <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.colVis.min.js"></script>
      <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

      <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.colVis.min.js"></script>
      <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
      <script>
        /****************************************
         *       Basic Table                   *
         ****************************************/
      
        const table = $('#zero_config').DataTable({
          ordering: false,
          //"lengthMenu": [ [5, 25, 50, -1], [5, 25, 50, "All"] ],
          language: {
            url: '//cdn.datatables.net/plug-ins/1.10.15/i18n/French.json'
          },
          dom: 'Bfrtip',
          buttons: [
            {
              extend: 'excelHtml5',
              filename: 'Liste des inscriptions',
            },
            {
              extend: 'print',
              autoPrint: false,
              footer: false,
            }
          ]
        })
        
      
        
        $('.li-profile').click(function () {
          if (!$(this).children('ul').hasClass('show')) {
            $(this).children('ul').addClass('show')
          } else {
            $(this).children('ul').removeClass('show')
          }
        })



      </script>
      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--  [if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"</script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"</script>
      <![endif]  -->
    {% endblock %}
  </body>
</html>
