{% extends 'layout_admin.html.twig' %}


{% block main %}
    {#<div class="alert alert-info" role="alert">{{ 'info.change_password'|trans }}</div>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">
            <i class="fa fa-save" aria-hidden="true"></i> {{ 'action.save'|trans }}
        </button>
    {{ form_end(form) }}#}
    <!--begin::Basic info-->
  
        <!--begin::Alert-->
        {# <div class="alert alert-primary d-flex align-items-center p-5" style="    padding: 1rem!important;">
            <span class="svg-icon svg-icon-2hx svg-icon-primary me-3"></span>
            <div class="d-flex flex-column">
                <span>{{ 'info.change_password'|trans }}</span>
            </div>
        </div> #}
        <!--end::Alert-->
    <h5 class="card-title title-page title-form-bo">  <b class="text-danger"> {{ 'title.change_password'|trans }}</b> </h5>      
            
                     
    <div class="col-md-12 " >
        <div class="" >
  
            <div class="card-body card ">
              <!--begin::Form-->
               {{ form_start(form, {'attr': {'id': 'kt_account_profile_details_form', 'class': 'form form-bo'}}) }}
                <!--begin::Card body-->
                <div class="card-body  p-9">
                    <!--begin::Input group-->
                    <div class="row form-group row">
                        <!--begin::Label-->
                       {# {{ form_label(form.currentPassword) }} #}
                        <!--end::Label-->
                        <!--begin::Col-->
                     
                            {# {{ form_widget(form.currentPassword, {'attr': {'class': 'form-control','placeholder': 'Mot de passe actuel'}}) }}
                            <div class="fv-plugins-message-container invalid-feedback">{{ form_errors(form.currentPassword) }}</div> #}
                        
                        <!--end::Col-->
                    </div>
                    <!--end::Input group-->
                    <!--begin::Input group-->
                    <div class="row form-group row">
                        <!--begin::Label-->
                        {{ form_label(form.newPassword.first) }}
                        <!--end::Label-->
                        <!--begin::Col-->
                       
                            {{ form_widget(form.newPassword.first, {'attr': {'class': 'form-control','placeholder': 'Nouveau mot de passe'}}) }}
                            <div class="fv-plugins-message-container invalid-feedback">{{ form_errors(form.newPassword.first) }}</div>
                        
                        <!--end::Col-->
                    </div>
                    <!--end::Input group-->
                    <!--begin::Input group-->
                    <div class="row form-group row">
                        <!--begin::Label-->
                     {{ form_label(form.newPassword.second) }}
                        <!--end::Label-->
                        <!--begin::Col-->
                       
                            {{ form_widget(form.newPassword.second, {'attr': {'class': 'form-control','placeholder': 'Confirmer le mot de passe'}}) }}
                            <div class="fv-plugins-message-container invalid-feedback">{{ form_errors(form.newPassword.second) }}</div>
                        
                        <!--end::Col-->
                    </div>
                    <!--end::Input group-->
                </div>
                <!--end::Card body-->
                <!--begin::Actions-->
                <div class="card-body" style="padding-right: 0;">
                    <button type="submit" class="btn btn-primary">
                        Enregistrer
                    </button>
                 </div>
                <!--end::Actions-->
               {{ form_end(form) }}
               <!--end::Form-->
            </div>   
        </div>  
     </div>
        <!--end::Content-->
    </div>
    <!--end::Basic info-->
{% endblock %}
